.search-city {
  text-align: center;
  margin-top: var(--space-xxl);
  font-family: var(--headerFont);
  font-weight: var(--bold);
  font-size: var(--font-xxl-lh);
  color: var(--text1);
}
 .weather-menu{
   text-align: center;
   display: block;
 }

 .refresh-button{
    margin-top: var(--space-xxl);;
    margin-bottom: var(--space-xxl);;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('../../videos/refresh-button.png');
    align-self: center;
    transition: ease 0.5s;
 }

 .refresh-button:hover{
   transform: rotate(360deg);
   transition: ease 0.5s;
   cursor: pointer;
 }
